.RandomImageFetcherBody{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #232323;
  padding: 1rem;

  border-radius: 1rem;
}

button{
  background-color: #787878;
  padding: 1rem;

  border-radius: 1rem;
}

.ImageHolders{
  display: flex;
  justify-content: center;
  flex-direction: row;

  gap: 1rem;
}

.ImageSide{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 700px;
  gap: 1rem;
}

.MainImage{
  aspect-ratio: 16/9;
  width: 900px;
  background-color: red;
  border-radius: 1rem;

  /* background-image: url('https://picsum.photos/640/360'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: 500ms;
}

.MainImage:hover{

  filter: brightness(1.5);
  cursor: pointer;
}

.PastImageContainer{
  display: flex;
  align-items: center;

  border-radius: 1rem;
  gap: 0.5rem;
  padding: 0 0.5rem;

  width: 100%;
  height: 100%;

  overflow-y: hidden;
  overflow-x: scroll;

  background-color: aqua;
}

.PastImage{
  display: flex;
  background-color: lime;
  height: 90%;
  aspect-ratio: 16/9;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 1rem;
}