<div class="RandomImageFetcherBody">
  <div class="ImageHolders">

    <div class="ImageSide">

      <div 
        (click)="this.FetchImage()"
        class="MainImage" 
        [ngStyle]="{
          'background-image': this.MainImage,
          'background-color': !!this.MainImage ? 'green' : 'cyan'
        }">

      </div>
      <div class="PastImageContainer">
        @for (pastImage of this.PastImages; track pastImage.imageData){
          <div 
            (click)="pastImage.onClick()"
            [ngStyle]="{
              'background-image': pastImage.imageData
            }"
            class="PastImage" >
          </div>
        }
      </div>
    </div>
  </div>

</div>