main{
  display: flex;
  align-items: center;
  flex-direction: column;

  flex: 1;
  height: 95vh;
  width: 95vw;

  gap: 1rem;
}

.mainContent{
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100%;
}