button{
  background-color: #454545;
  padding: 1rem;
  border-radius: 1rem;
}

.YearToDaysContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #232323;
  
  border-radius: 1rem;
}